#root {
  padding-top: 70px;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0px 15px 10px -15px #111;
}
.header-logo {
  width: auto;
  max-width: 100%;
  max-height: 50px;
  padding: 8px 16px;
}
